html{
  background-color: wheat;
}
img{
    width: 1200px;
    height: 600px;
    border: 5px double black;
}
div{
    text-align: center; 
    margin-top: 20px ;
   
}
h2{
    text-align: center;
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    padding: 0%;
    margin: 5px;
    

}
p{
    margin: 0;
    text-align: center;
    font-size: x-large;
    font-weight:bold;
    font-style: italic;
    
}